@import url(https://fonts.google.com/share?selection.family=Playfair+Display:ital,wght@0,400..900;1,400..900);
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  /*Selects the document's root element*/
  --clr-dark: #020101;
  --clr-light: #ffffff;
  
}

html{
  font-size: 14px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--clr--dark);
    font-family: 'Inter', Arial, sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: bisque;

  }
  
  .flex-container {
    display: flex;
    width: 60%;
    
    justify-content: space-around;
    padding: 20px;
  }
  
  .flex-child {
    width: 300px;
    padding: 10px;
    background-color: antiquewhite;
    color: var(--clr--dark);
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    transition: 0.5s;  
}

  .flex-container :hover {
    transform: scale(1.15);
}

  .material-icons {
    font-size: 40px;
    color: var(--clr--dark);
    display: block;
    margin-bottom: 10px;
  }
  
  h2 {
    font-family: 'Playfair';
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 14px;
    margin: 5px 0;
  }